/**
 * Screen - Medium (Netbooks)
 * 
 * Contains styles for tablets and greater
 */

@media only screen and (min-width: 992px) {

  /* ------------------------------------------------------------
  General
  ------------------------------------------------------------ */

  /* ------------------------------------------------------------
  Header
  ------------------------------------------------------------ */
  header {
    min-height: 15em;
  }
    
  /* ------------------------------------------------------------
  Main body/view area
  ------------------------------------------------------------ */

    /***** Every page *****/
      .fakeTable {
        overflow: hidden;
      }
      .fakeTable > li {
        width: 50%;
        float: left;
      }

    /***** Home/landing page *****/
      #content {
      }
      #content > section {
      }

  /* ------------------------------------------------------------
  Footer
  ------------------------------------------------------------ */

}