/**
 * Screen - Large (Desktops)
 * 
 * Contains styles for desktops and greater
 */

@media only screen and (min-width: 1200px) {

  /* ------------------------------------------------------------
  General
  ------------------------------------------------------------ */

  /* ------------------------------------------------------------
  Header
  ------------------------------------------------------------ */
    
  /* ------------------------------------------------------------
  Main body/view area
  ------------------------------------------------------------ */

    /***** Every page *****/
      .fakeTable {
        
      }
      .fakeTable > li {
        width: 33%;
      }

    /***** Home/landing page *****/
      #content {
      }
      #content > section {
        width: 50%;
        float: left;
      }

  /* ------------------------------------------------------------
  Footer
  ------------------------------------------------------------ */

}