/**
 * Screen - Medium (Netbooks)
 * 
 * Contains styles for tablets and greater
 */

@media only screen and (min-width: 992px) {

  /* ------------------------------------------------------------
  General
  ------------------------------------------------------------ */

  /* ------------------------------------------------------------
  Header
  ------------------------------------------------------------ */
    header {
      height: 12em;
    }
    header > h1 {
      font-size: 3.5em;
    }
    
  /* ------------------------------------------------------------
  Main body/view area
  ------------------------------------------------------------ */

    /***** Every page *****/
      .fakeTable {
      }
      .fakeTable > li {
        width: 33%;
      }

    /***** Home/landing page *****/
      #content {
      }
      #content > section {
      }

  /* ------------------------------------------------------------
  Footer
  ------------------------------------------------------------ */

}