/**
 * Screen - Small (Mobile, Tablets)
 * 
 * Contains styles for tablets and greater
 */

@media only screen and (min-width: 768px) {

  /* ------------------------------------------------------------
  General
  ------------------------------------------------------------ */

  /* ------------------------------------------------------------
  Header
  ------------------------------------------------------------ */
    header {
      height: 7em;
      padding: 1em;
    }
    header > h1 {
      font-size: 2.5em;
    }
    
  /* ------------------------------------------------------------
  Main body/view area
  ------------------------------------------------------------ */

    /***** Every page *****/
      .fakeTable {
        overflow: hidden;
      }
      .fakeTable > li {
        width: 50%;
        float: left;
      }

    /***** Home/landing page *****/
      #content {
      }
      #content > section {
      }

  /* ------------------------------------------------------------
  Footer
  ------------------------------------------------------------ */

}